<div class="wrapper">
  <table id="acrylic">
      <thead>
          <tr>
              <th>L.p</th>
              <th>Dział</th>
              <th>Priorytet</th>
              <th>Status</th>
              <th>Data zgłoszenia</th>
              <th>Data naprawy</th>
              <th>Nazwa urzadzenia</th>
              <th>Opis urzadzenia</th>
              <th>Wysyłka</th>
              <% if current_user.admin? %>
              <th>User</th>
              <th>Pracownik</th>
              <% end %>
              <th>Akcje</th>
              <th></th>
              <th></th>
          </tr>
      </thead>
      <tbody>
      <% @zgloszenies.order("zrealizowane desc").each do |zgloszeny| %>
      <% if zgloszeny.zrealizowane != true %>
      <% if current_user.id == zgloszeny.user_id || current_user.admin? %>
          <tr>
              <td data-label="L.p"><%= zgloszeny.id %></td>
              <td data-label="Dział"><%= Dzial.where(id:zgloszeny.dzial_id).pluck(:nazwa).last %></td>
              <td data-label="Priorytet"><%= zgloszeny.priorytet %></td>
              <td data-label="Status"><%= t("activerecord.attributes.zgloszenie.statuses.#{zgloszeny.status}") %></td>
              <td data-label="Data_zgłoszenia"><%= zgloszeny.data_zgloszenia %></td>
              <td data-label="Data_naprawy"><%= zgloszeny.data_naprawy %></td>
              <td data-label="Nazwa_urzadzenia"><%= zgloszeny.nazwa_urzadzenia %></td>
              <td data-label="Opis_urzadzenia"><%= zgloszeny.opis_uszkodzenia %></td>
              <% if zgloszeny.wysylka == true %>
              <td data-label="Tak">Tak</td>
              <% else %>
              <td data-label="Nie">Nie</td>
              <% end %>
              <% if current_user.admin? %>
              <td data-label="User"><%= User.where(id:zgloszeny.user_id).pluck(:first_name).last %></td>
              <% if zgloszeny.pracownikid.nil? %>
                Brak
              <% else %>
                <td data-label="Pracownik"><%= User.where(id:zgloszeny.pracownikid).pluck(:first_name).last %></td>
              <% end %>
              <% end %>


              <td><%= link_to('Usuń', zgloszeny, method: :delete, data: { confirm: 'Jesteś pewny?' }, class:'btn btn-danger btn-xs') %></td>
              <td><%= link_to 'Pokaż', zgloszeny, class:'btn btn-warning btn-xs' %></td>
              <td><%= link_to 'Edytuj', edit_zgloszeny_path(zgloszeny), class:'btn btn-primary btn-xs' %></td>
              <% end %>

              </td>
          </tr>
           <% end %>

           <% end %>
      </tbody>
  </table>
</div>
