<% content_for :title, " - Zaplecze." %>
<div class="container">
    <div class="row">
    <div class="span12">
      <form class="form-horizontal" action='' method="POST">
        <fieldset>
          <div id="legend">
            <legend class=""><h4>Panel Administracyjny</h4></legend>
          </div>
          </fieldset>
          </form>
          </div>
          </div>
          </div>
<% if current_user.admin? %>
<div class="jumbotron">
<p align="center">
 <%= link_to 'Użytkownicy', users_path, class:'btn btn-sm btn-primary btn-create' %>
 <%= link_to 'Stanowiska', stanowiskos_path, class:'btn btn-sm btn-primary btn-create' %>
 <%= link_to 'Działy', dzials_path, class:'btn btn-sm btn-primary btn-create' %>
 <%= link_to 'Zgłoszenia', zgloszenies_path, class:'btn btn-sm btn-primary btn-create' %>
 <%= link_to 'Zgłoszenia.akt', zgloszenie_aktywnoscs_path, class:'btn btn-sm btn-primary btn-create' %>
</p>
</div>
<% else %>
<div class="jumbotron">
  <p align="center"> Nie jesteś uprawniony do tego modułu. </p>
</div>
<% end %>
