<div class="container">
    <div class="row">
    <div class="span12">
      <form class="form-horizontal" action='' method="POST">
        <fieldset>
          <div id="legend">
            <legend class=""><h4>Panel Administracyjny</h4></legend>
          </div>
          </fieldset>
          </form>
          </div>
          </div>
          </div>  

<div class="jumbotron">
<p align="center">
 <%= link_to 'Użytkownicy', users_path, class:'btn btn-primary' %>
 <%= link_to 'Stanowiska', stanowiskos_path, class:'btn btn-primary' %>
 <%= link_to 'Działy', dzials_path, class:'btn btn-primary' %>
 <%= link_to 'Zgłoszenia', zgloszenies_path, class:'btn btn-primary' %>
 <%= link_to 'Zgłoszenia - Aktywności', zgloszenie_aktywnoscs_path, class:'btn btn-primary' %>
</p>
</div>
