<h1>Zaplecze - Panel Administracyjny</h1>

<div class="jumbotron">
<p align="center">
 <%= link_to 'Użytkownicy', users_path, class:'btn btn-primary' %>
 <%= link_to 'Pracownicy', pracowniks_path, class:'btn btn-primary' %>
 <%= link_to 'Klienci', klients_path, class:'btn btn-primary' %>
 <%= link_to 'Stanowiska', stanowiskos_path, class:'btn btn-primary' %>
 <%= link_to 'Działy', dzials_path, class:'btn btn-primary' %>
 <%= link_to 'Zgłoszenia', zgloszenies_path, class:'btn btn-primary' %>
 <%= link_to 'Zgłoszenia - Aktywności', zgloszenie_aktywnoscs_path, class:'btn btn-primary' %>
</p>
</div>
