<p id="notice"><%= notice %></p>

<h1>Pracownicy</h1>
<%= form_tag( pracowniks_path ,method: :get, remote: true, class: "search_form") do %>
<%= text_field_tag :search, params[:search], placeholder: 'Wyszukaj...' %>
<% end %> <br />
<div class="jumbotron">
<div class="table-responsive">
<%= render 'pracowniks/partials/pracowniks_table', pracowniks: @pracowniks %>
</div>
<%= link_to 'Dodaj nowego pracownika', new_pracownik_path, class:'btn btn-success' %>
<%= link_to 'Zaplecze', static_pages_paneladmina_path, class:'btn btn-primary' %>
</div>