<p id="notice"><%= notice %></p>

<p>
  <strong>Stanowisko:</strong>
  <%= @pracownik.stanowisko %>
</p>

<p>
  <strong>Dzial:</strong>
  <%= @pracownik.dzial %>
</p>

<p>
  <strong>Nazwa:</strong>
  <%= @pracownik.nazwa %>
</p>

<p>
  <strong>Stanowisko:</strong>
  <%= @pracownik.stanowisko %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @pracownik.telefon %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pracownik.email %>
</p>

<%= link_to 'Edit', edit_pracownik_path(@pracownik) %> |
<%= link_to 'Back', pracowniks_path %>
