<p id="notice"><%= notice %></p>
<div class="jumbotron">
<p>
  <strong>Stanowisko:</strong>
  <%= Stanowisko.where(id:@pracownik.stanowisko_id).pluck(:nazwa).last %>
</p>

<p>
  <strong>Dzial:</strong>
  <%= Dzial.where(id:@pracownik.dzial_id).pluck(:nazwa).last %>
</p>

<p>
  <strong>Nazwa:</strong>
  <%= @pracownik.nazwa %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @pracownik.telefon %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pracownik.email %>
</p><br />
<div class="actions">
<%= link_to 'Edytuj', edit_pracownik_path(@pracownik), class: "btn btn-primary" %>
<%= link_to 'Wróć', pracowniks_path, class: "btn btn-success" %>
</div>
</div>