<%= form_for(stanowisko) do |f| %>
  <% if stanowisko.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stanowisko.errors.count, "error") %> prohibited this stanowisko from being saved:</h2>

      <ul>
      <% stanowisko.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

            
<div class="field">
  <%= f.label :Nazwa %><br/>
  <%= f.text_area :nazwa%>
  </div><br/>

<div class="actions">
            <%= f.submit "Dodaj", class: "btn btn-success"%>
            <%= link_to 'Pokaż', @stanowisko, class: "btn btn-primary" %>
            <%= link_to 'Wróć', stanowiskos_path, class: "btn btn-success" %>
            </div>
<% end %><br />
 