<%= form_for(stanowisko) do |f| %>
  <% if stanowisko.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stanowisko.errors.count, "error") %> prohibited this stanowisko from being saved:</h2>

      <ul>
      <% stanowisko.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

          <div class="control-group">
            <label class="control-label" for="password"><h5>Nazwa</h5></label>
            <div class="controls">
            <%= f.text_area :nazwa, class: "input-xlarge" %>
            </div>
          </div><br/>
          <div class="control-group">
            <!-- Button -->
            <div class="controls">
            <%= f.submit "Dodaj", class: "btn btn-success"%>
            <%= link_to 'Pokaż', @stanowisko, class: "btn btn-primary" %>
            <%= link_to 'Wróć', stanowiskos_path, class: "btn btn-success" %>
            </div>
          </div>
<% end %><br />