<%= render 'stanowiskos/partials/search', stanowiskos: @stanowiskos %>

<div class="table-responsive">
  <%= render 'stanowiskos/partials/stanowiskos_table', stanowiskos: @stanowiskos %>
</div>

<div class="wrapper" align="center">
  <%= will_paginate @stanowiskos, renderer: BootstrapPagination::Rails %>
</div>

<div class="actions" align="center">
  <a class="btn btn-sm btn-primary btn-create" href="<%= new_stanowisko_path %>">
    <i class="fa fa-plus-circle"></i> Dodaj stanowisko
  </a>
  <a class="btn btn-sm btn-primary btn-create" href="<%= static_pages_paneladmina_path %>">
    <i class="fa fa-arrow-circle-left"></i> Zaplecze
  </a>
</div><br/>
