<p id="notice"><%= notice %></p>

  <p>
  <strong>ID:</strong>
  <%= @stanowisko.id %>
</p>
<p>
  <strong>Nazwa:</strong>
  <%= @stanowisko.nazwa %>
  </p><br />

<div class="actions">
<%= link_to 'Edytuj', edit_stanowisko_path(@stanowisko), class: "btn btn-primary" %>
<%= link_to 'Wróć', stanowiskos_path, class: "btn btn-success" %>
</div>