<%= form_for(dzial) do |f| %>
  <% if dzial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dzial.errors.count, "error") %> prohibited this dzial from being saved:</h2>

      <ul>
      <% dzial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
            <label class="control-label"  for="username"><h5>Nazwa</h5></label>
            <div class="controls">
            <%= f.text_area :nazwa, class: 'input-xlarge' %>
            </div>
          </div><br/>
          <div class="control-group">
            <div class="controls">
             <%= f.submit "Dodaj Dział", class: "btn btn-success" %>
            </div>
          </div>
<% end %><br />
