<%= form_for(dzial) do |f| %>
  <% if dzial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dzial.errors.count, "error") %> prohibited this dzial from being saved:</h2>

      <ul>
      <% dzial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="jumbotron">
  <div class="field">
      <%= f.label :Nazwa %><br/>
      <%= f.text_area :nazwa, class:"form-control" %>
  </div><br/>
</div>

<div class="jumbotron">
<div class="actions">
             <%= f.submit "Dodaj Dział", class: "btn btn-success" %>
             <%= link_to 'Wróć', dzials_path, class: "btn btn-primary" %>
          </div>
<% end %><br />
</div>
