<%= render 'dzials/partials/search', dzials: @dzials %>

<div class="table-responsive">
  <%= render 'dzials/partials/dzials_table', dzials: @dzials %>
</div>

<div class="wrapper" align="center">
  <%= will_paginate @dzials, renderer: BootstrapPagination::Rails %>
</div>


<div class="actions" align="center">
  <a class="btn btn-sm btn-primary btn-create" href="<%= new_dzial_path %>">
    <i class="fa fa-plus-circle"></i> Dodaj dział
  </a>
  <a class="btn btn-sm btn-primary btn-create" href="<%= static_pages_paneladmina_path %>">
    <i class="fa fa-arrow-circle-left"></i> Zaplecze
  </a>
</div><br/>
