<p id="notice"><%= notice %></p>

<h1>Działy</h1>
<div class="jumbotron">
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nazwa</th>
      <th colspan="3">Akcje</th>
    </tr>
  </thead>

  <tbody>
    <% @dzials.each do |dzial| %>
      <tr>
        <td><%= dzial.id %></td>
        <td><%= dzial.nazwa %></td>
        <td><%= link_to 'Pokaż', dzial, class:'btn btn-xs btn-primary' %></td>
        <td><%= link_to 'Edytuj', edit_dzial_path(dzial), class:'btn btn-xs btn-warning' %></td>
        <td><%= link_to 'Usuń', dzial, method: :delete, data: { confirm: 'Jesteś pewny?' }, class:'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= link_to 'Dodaj nowy dział', new_dzial_path, class:'btn btn-success' %>
<%= link_to 'Zaplecze', static_pages_paneladmina_path, class:'btn btn-primary' %>
</div>
