<p id="notice"><%= notice %></p>

<div class="jumbotron">
<p>
  <strong>ID:</strong>
  <%= @dzial.id %>
</p>
<p>
  <strong>Nazwa:</strong>
  <%= @dzial.nazwa %>
  </p>
 
<div class="actions">
<%= link_to 'Edytuj', edit_dzial_path(@dzial), class: "btn btn-primary" %></div><br />
<div class="actions">
<%= link_to 'Wróć', dzials_path, class: "btn btn-success" %>
</div>
</div>