<div class="wrapper">
  <table id="acrylic">
      <thead>
          <tr>
              <th>L.p</th>
              <th>Nazwa</th>
              <th>Akcje</th>
              <th></th>
              <th></th>
          </tr>
      </thead>
      <tbody>
     <% @dzials.each do |dzial| %>
          <tr>
              <td data-label="L.p"><%= dzial.id %></td>
              <td data-label="Nazwa"><%= dzial.nazwa %></td>
              <td><%= link_to 'Pokaż', dzial, class:'btn btn-warning btn-xs' %></td>
              <td><%= link_to 'Edytuj', edit_dzial_path(dzial), class:'btn btn-primary btn-xs' %></td>
              <td><%= link_to 'Usuń', dzial, method: :delete, data: { confirm: 'Jesteś pewny?' }, class:'btn btn-danger btn-xs' %></td>
          </tr>
           <% end %>
      </tbody>
  </table>
</div>
</div>
