<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<%= form_for(zgloszeny) do |f| %>
  <% if zgloszeny.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zgloszeny.errors.count, "error") %> prohibited this zgloszeny from being saved:</h2>

      <ul>
      <% zgloszeny.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %><br />
<div class="field">
  <%= f.hidden_field :user_id, :value => current_user.id  %>

</div>
  <div class="field">
    <%= f.label :Zgłoszenie_do_działu %><br/>
    <%= f.collection_select :dzial_id, Dzial.all, :id, :nazwa, prompt: "Wybierz", id:"dzialselect"%>
  </div><br/>
  <div class="field">
    <%= f.label :data_zgłoszenia %><br/>
    <%= f.date_select :data_zgloszenia %>
  </div><br/>

  <div class="field">
    <%= f.label :nazwa_urzadzenia %><br/>
    <%= f.text_area :nazwa_urzadzenia %>
  </div><br/>

  <div class="field"><br/><%= f.label :opis_uszkodzenia %><br/>
    <%= f.text_area :opis_uszkodzenia %>
  </div><br/>

  <div class="field">
    <%= f.label :wysyłka %><br/>
    <%= f.select :wysylka, [['Tak', true], ['Nie', false]] %>
  </div><br />

  <% if current_user.ispracownik? %>
  <div class="field">
    <%= f.label :priorytet %><br/>
    <%= f.text_field :priorytet %>
  </div><br/>

  <div class="field">
    <%= f.label :status %><br/>
    <%= f.text_field :status %>
  </div><br/>

  <div class="field">
    <%= f.label :data_naprawy %><br/>
    <%= f.date_select :data_naprawy, :default => nil %>
  </div><br/>

  <% end %>

  <div class="actions">
    <%= f.submit "Dodaj zgłoszenie", class:'btn btn-success' %>
  </div>
<% end %><br />
