<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<div class="jumbotron">
<%= form_for(zgloszeny) do |f| %>
  <% if zgloszeny.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zgloszeny.errors.count, "error") %> prohibited this zgloszeny from being saved:</h2>

      <ul>
      <% zgloszeny.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %><br />

            <% if current_user.admin? %>
            <div class="control-group">
            <label class="control-label"  for="username">Wybór pracownika</label>
            <div class="controls">
            <%= f.select :pracownikid, User.where(ispracownik: true).pluck(:id, :first_name, :last_name).map{|db_fields| db_fields.join(' ')}, {}, class: 'form-control' %>
            <% end %></div><br/>

            <% if zgloszeny.visible? %>
            <label class="control-label"  for="username">ID użytkownika</label>
            <div class="controls">
              <%= f.text_field :user_id, :value => current_user.id ,:readonly => true, class:"form-control" %><br/>
              <% end %>

            <div class="control-group">
            <label class="control-label"  for="username"><h5>Zgłoszenie do działu</h5></label>
            <div class="controls">
              <%= f.collection_select :dzial_id, Dzial.all, :id, :nazwa, {prompt: "Wybierz", id:"dzialselect"}, {class:"form-control"} %>
            </div><br/>
          </div>
          </div>

          <% if zgloszeny.visible? %>
          <div class="control-group">
            <label class="control-label" for="password"><h5>Data zgłoszenia</h5></label>
            <div class="controls">
            <%= f.date_select :data_zgloszenia, {}, class: "form-control"%>
            </div>
          </div><br/>
          <% end %>

          <div class="control-group">
            <label class="control-label" for="password"><h5>Nazwa urzadzenia</h5></label>
            <div class="controls">
            <%= f.text_area :nazwa_urzadzenia, class: "form-control"%>
            </div>
          </div><br/>
          <div class="control-group">
            <label class="control-label" for="password"><h5>Opis uszkodzenia</h5></label>
            <div class="controls">
            <%= f.text_area :opis_uszkodzenia, class:"form-control" %>
            </div>
          </div><br/>
          <div class="control-group">
            <label class="control-label" for="password"><h5>Wysyłka</h5></label>

            <%= f.select :wysylka, [['Tak', true], ['Nie', false]], {}, class: "form-control" %>

          </div><br/>

          <% if current_user.ispracownik? %>
          <div class="control-group">
            <label class="control-label" for="password"><h5>Priorytet</h5></label>
            <div class="controls">
            <%= f.text_field :priorytet, class: "form-control" %>
            </div>
          </div><br/>
          <div class="control-group">
            <label class="control-label" for="password"><h5>Status</h5></label>
            <div class="controls">
            <%= f.select :status, options_for_select(Zgloszenie.statuses_for_select), {}, class: "form-control" %>
            </div>
          </div><br/>
          <div class="control-group">
            <label class="control-label" for="password"><h5>Zrealizowane</h5></label>
            <div class="controls">
            <%= f.select :zrealizowane, [['Nie', false], ['Tak', true]], {}, class: "form-control", id: "control" %>
          </div><br/>
          <div class="control-group">
            <label class="control-label" for="password"><h5>Data naprawy</h5></label>
            <div class="controls">
            <%= f.date_select :data_naprawy, :default => nil, class: "form-control", id: "data" %>
            </div>
          </div><br/>
          <% end %>
  <%= f.hidden_field :visible, :value => false %>
</div>

  <div class="jumbotron">
            <div class="controls">
            <%= f.submit "Dodaj zgłoszenie", class:'btn btn-success' %>
            <%= link_to 'Pokaż', @zgloszeny, class: "btn btn-primary" %>
            <%= link_to 'Wróć', zgloszenies_path, class: "btn btn-danger" %>
          </p>
            </div>
          </div>

<% end %>
