<p id="notice"><%= notice %></p>

<h1>Zgłoszenia</h1>
<%= form_tag( zgloszenies_path ,method: :get, remote: true, class: "search_form_z") do %>
<%= text_field_tag :search, params[:search], placeholder: 'Wyszukaj...' %>
<% end %> <br />
<div class="jumbotron">
<div class="table-responsive">
<%= render 'zgloszenies/partials/zgloszenies_table', zgloszenies: @zgloszenies %>
</div>
<%= link_to 'Dodaj Zgłoszenie', new_zgloszeny_path, class:'btn btn-success' %>
<% if current_user.admin? %>
<%= link_to 'Zaplecze', static_pages_paneladmina_path, class:'btn btn-primary' %>
<% end %>
</div>
