<% content_for :title, " - Wydruk zgłoszenia." %>

<body onload="printpage()">

<div class="container">
<table> <tr>
  <td style="text-align: center;">
      <%= image_tag(generate_qr(@zgloszeny.id.to_s), class: "qr-code") %>
  </td> <td width=20></td>
  <td>
  <p><h2>Dział: <strong><%= Dzial.where(id:@zgloszeny.dzial_id).pluck(:nazwa).last %> </strong> </h2> </p>
  <p> <strong>Priorytet: </strong><%= @zgloszeny.priorytet %>
  <strong>Status:</strong> <%= @zgloszeny.status %> </p>

  <p> <strong>Data zgłoszenia:</strong> <%= @zgloszeny.data_zgloszenia %>
  <strong>Data naprawy:</strong> <%= @zgloszeny.data_naprawy %> </p>

  <p> <strong>Nazwa urzadzenia:</strong> <%= @zgloszeny.nazwa_urzadzenia %> </p>
  <p> <strong>Opis uszkodzenia:</strong> <%= @zgloszeny.opis_uszkodzenia %> </p>
  <p> <strong>Wysyłka:</strong> <%= @zgloszeny.wysylka %> </p>
  </td> </tr> </table>
</div>
</br>
<div class="container">
  <div class="table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Autor</th>
          <th>Data</th>
          <th>Treść wiadomości </th>
        </tr>
      </thead>
      <tbody>
        <% ZgloszenieAktywnosc.all.each do |zgloszenie_aktywnosc| %>
         <% if @zgloszeny == zgloszenie_aktywnosc.zgloszenie %>
          <tr>
            <td><%= User.where(id:zgloszenie_aktywnosc.user_id).pluck(:first_name).last %>
            <%= User.where(id:zgloszenie_aktywnosc.user_id).pluck(:last_name).last %></td>
            <td><%= zgloszenie_aktywnosc.created_at.strftime("%H:%M, %d.%m.%Y") %></td>
            <td><%= zgloszenie_aktywnosc.tresc %></td>
          </tr>
         <% end %>  <% end %>
      </tbody>
    </table>
  </div>
</div>

<footer class="footer">
  <p> Data i godzina wydruku: <strong> <%= Time.now.strftime("%d.%m.%Y, %H:%M") %> </strong> </p>
</footer>
