<%= form_for(klient) do |f| %>
  <% if klient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(klient.errors.count, "error") %> prohibited this klient from being saved:</h2>

      <ul>
      <% klient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nazwa %><br/>
    <%= f.text_area :nazwa %>
  </div><br/>

  <div class="field">
    <%= f.label :nip %><br/>
    <%= f.number_field :nip %>
  </div><br/>

  <div class="field">
    <%= f.label :kod_pocztowy %><br/>
    <%= f.number_field :kod_pocztowy %>
  </div><br/>

  <div class="field">
    <%= f.label :poczta %><br/>
    <%= f.text_area :poczta %>
  </div><br/>

  <div class="field">
    <%= f.label :adres %><br/>
    <%= f.text_area :adres %>
  </div><br/>

  <div class="field">
    <%= f.label :telefon %><br/>
    <%= f.number_field :telefon %>
  </div><br/>

  <div class="field">
    <%= f.label :email %><br/>
    <%= f.text_area :email %>
  </div><br />

  <div class="actions">
    <%= f.submit "Aktualizuj", class: "btn btn-success" %>
  </div>
<% end %><br />
