<p id="notice"><%= notice %></p>
<h1>Klient</h1>
<%= form_tag( klients_path ,method: :get, remote: true, class: "search_form_k") do %>
<%= text_field_tag :search, params[:search], placeholder: 'Wyszukaj...' %>
<% end %> <br />
<div class="jumbotron">
<%= render 'klients/partials/klients_table', klients: @klients %>
<br>
</div>
<%= link_to 'Nowy klient', new_klient_path, class: 'btn btn-success'  %>
