<p id="notice"><%= notice %></p>
<div class="jumbotron">
<p>
  <strong>Nazwa:</strong>
  <%= @klient.nazwa %>
</p>

<p>
  <strong>Nip:</strong>
  <%= @klient.nip %>
</p>

<p>
  <strong>Kod pocztowy:</strong>
  <%= @klient.kod_pocztowy %>
</p>

<p>
  <strong>Poczta:</strong>
  <%= @klient.poczta %>
</p>

<p>
  <strong>Adres:</strong>
  <%= @klient.adres %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @klient.telefon %>
</p>

<p>
  <strong>Email:</strong>
  <%= @klient.email %>
</p>
<div class="actions">
<%= link_to 'Edytuj', edit_klient_path(@klient), class: "btn btn-primary" %>
<%= link_to 'Wróć', klients_path , class: "btn btn-success"%>
</div>
</div>