<div class="wrapper">
  <table id="acrylic">
    <thead>
      <tr>
        <th>L.p</th>
        <th>Nazwa</th>
        <th>Akcje</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @stanowiskos.each do |stanowisko| %>
        <tr>
          <td data-label="L.p"><%= stanowisko.id %></td>
          <td data-label="Nazwa"><%= stanowisko.nazwa %></td>
          <td><%= link_to 'Pokaż', stanowisko, class:'btn btn-warning btn-xs' %></td>
          <td><%= link_to 'Edytuj', edit_stanowisko_path(stanowisko), class:'btn btn-primary btn-xs' %></td>
          <td><%= link_to 'Usuń', stanowisko, method: :delete, data: { confirm: 'Jesteś pewny?' }, class:'btn btn-danger btn-xs' %>
          </td>
        </tr>
             <% end %>
    </tbody>
  </table>
</div>
</div>
