<%= form_for(zgloszenie_aktywnosc) do |f| %>
  <% if zgloszenie_aktywnosc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zgloszenie_aktywnosc.errors.count, "error") %> prohibited this zgloszenie_aktywnosc from being saved:</h2>

      <ul>
      <% zgloszenie_aktywnosc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :zgloszenie_id %>
    <%= f.text_field :zgloszenie_id %>
  </div>

  <div class="field">
    <%= f.label :tresc %>
    <%= f.text_area :tresc %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
