<%= form_for(zgloszenie_aktywnosc) do |f| %>
  <% if zgloszenie_aktywnosc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zgloszenie_aktywnosc.errors.count, "error") %> prohibited this zgloszenie_aktywnosc from being saved:</h2>

      <ul>
      <% zgloszenie_aktywnosc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
            <!-- Username -->
            <label class="control-label"  for="username"><h5>Zgłoszenie</h5></label>
            <div class="controls">
            <%= f.text_field :zgloszenie_id, class: "input-xlarge" %>
            </div>
          </div><br/>
          <div class="control-group">
            <label class="control-label" for="password"><h5>Treść</h5></label>
            <div class="controls">
            <%= f.text_area :tresc, class: "input-xlarge" %>
            </div>
          </div><br/>
          <div class="control-group">
            <div class="controls">
            <%= f.submit "Dodaj", class:'btn btn-success' %>
            </div>
          </div>
<% end %><br />
