<%= render 'zgloszenie_aktywnoscs/edit/page', zgloszenie_aktywnoscs: @zgloszenie_aktywnoscs %>

<div class="container">
    <div class="row">
		<div class="col-md-4">
            <div class="well well-sm">
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading"></h4>
                        <p>
                         <h4><p>
  <strong>Zgłoszenie:</strong>
  <%= Zgloszenie.where(id:@zgloszenie_aktywnosc.zgloszenie).pluck(:id).last %>
</p></h4>

<h4><p>
  <strong>Treść:</strong>
  <%= @zgloszenie_aktywnosc.tresc %>
</p></h4><br />

<%= link_to 'Edytuj', edit_zgloszenie_aktywnosc_path(@zgloszenie_aktywnosc), class: "btn btn-sm btn-primary btn-create" %>
<%= link_to 'Wróć', zgloszenie_aktywnoscs_path , class: "btn btn-sm btn-success btn-create" %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
