<!DOCTYPE html>
<html>
  <head>
    <title>Awaria <%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= csrf_meta_tags %>
    <%= content_for?(:head) ? yield(:head) : '' %>
    <%= javascript_include_tag 'application', async: true %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="fr">
        <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info") %>
        <% end %>
        <%= yield %>
     </div>
    </div>
  </body>
</html>
